td {
    padding: 0.5em 3em;
}
th {
    color: #edc;
    background-color: #455;
}

tr{
	background-color: #eb6;
}
tr:hover{
	background-color: #cba;
	transition: all 0.2s;
}
.odd{	
	background-color: #ec8;
}
.contant p {
	font-size: 20px;
	font-weight: 500;
}
fieldset{
	border: none;
}
input{
	margin: 13px;
}
.input{
	/* display: block; */
    padding: 5px;
    font-size: 20px;
    background-color: #03a9f4;
    border: none;
    border-radius: 5px;
    margin-left: 0;
}