a{
	color: #353538;

}
a{
	text-decoration: none;
}
/* blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{
	margin: 0px;
	padding: 0px;
} */
.nav .active{
	background-color: #9DB3B4;
}

.imagesgallery{
	display: inline-block;
}
.imagesgallery li{
	float: left;
	margin-left: 21px;
	margin-top: 5px;
	
}
#description{
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	
}
.holderpic{
	text-align: center;
	margin-top: 10px;
}
